<ion-view view-title="Browse" cache-view="false">
<ion-content>
<h1 class="page-header">Authentication</h1>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>#ID</th>
				<th>用户ID</th>
				<th>市话</th>
				<th>长途</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in user_l">
				<td>{{$index + 1}}</td>
				<td class="col-md-7">{{item.username}}</td>
				<td>
					<button type="button" class="btn btn-danger btn-sm" ng-click="update($index, {'resource.local':'true'})" ng-show="item.resource.local == 'false'">禁止</button>

					<button type="button" class="btn btn-info btn-sm" ng-click="update($index, {'resource.local':'false'})" ng-show="item.resource.local == 'true'">允许</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger btn-sm" ng-click="update($index, {'resource.toll':'true'})" ng-show="item.resource.toll == 'false'">禁止</button>
					<button type="button" class="btn btn-info btn-sm" ng-click="update($index, {'resource.toll':'false'})" ng-show="item.resource.toll == 'true'">允许</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</ion-content>
</ion-view>


